# Opsional: Jika ingin menyediakan API Key default untuk seluruh pengguna di Vercel
# Dapatkan API Key gratis di https://aistudio.google.com/app/apikey
API_KEY=

# Opsional: Endpoint AI jika menggunakan Custom Reverse Proxy (Default: kosong untuk Google AI Studio)
AI_BASE_URL=

# Opsional: Model default (Default: gemini-3.8-flash)
AI_MODEL=gemini-3.8-flash
